.header {
  height: $height-header;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#research-form {
  display: none;
}

#main-nav {
  display: flex;
}

#user-nav {
  display: flex;
}
