.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

  cursor: pointer;
  font-size: $font-large;
  padding: 5px;
  &:hover {
    color: $color-main;
  }

  &--grey {
    color: $color-component;
    padding: 4px;
    background: none;

    &:hover {
      color: darken($color-component, 20%);
    }
  }

  &--bg {
    background-color: $color-main;
    background: none;
    color: $color-main-white;
    border-radius: 0.4rem;
    margin: $margin-header;
    padding: 8px 18px;
  }

  &--small {
    padding: 8px 12px;
  }
}
