.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  font-size: $font-large;
  padding: 5px;
  &:hover {
    color: $color-main;
  }

  &--grey {
    color: $color-component;
    padding: 4px;

    &:hover {
      color: darken($color-component, 20%);
    }
  }

  &--bg {
    background-color: $color-main;
    color: $color-main-white;
    border-radius: 0.4rem;
    margin: $margin-header;
    padding: 8px 18px;
  }
}

.form {
  &__text-field {
    display: flex;
    align-items: center;
    background: white;
    border: $color-component 2px solid;
  }
  &__input {
    border: none;
    background: none;
    font-size: $font-large;
  }
}
