.dropdown {
  max-width: 250px;
  overflow: hidden;
  background: transparent;
  transition: all 0.2s ease-in-out;
  &:hover {
    box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.1);
    background: rgba($color: white, $alpha: 0.8);
  }
  &__top {
    font-size: $font-medium;
    width: 100%;
    padding: 12px 16px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    cursor: pointer;
  }
  &__sub {
    font-size: $font-small;
    padding: 0 16px;
    transition: height 0.2s ease-in-out;
    height: 0;
    li {
      padding: 8px 0;
      a {
        padding-left: 5px;
      }
    }
  }
}
