.dropdown {
  padding: 0 1rem;
  font-size: $medium;

  a {
    color: $component-color;

    i {
      padding-left: 0.5rem;
    }
  }
  &--strong {
    color: black; // !  priorité sur '.dropdown a' donc texte passe pas en noir  ! //
  }
}

.main-menu-hover {
  display: block;

  &:hover {
    color: $main-color;
  }
}

.sub-menu-hover {
  display: none;
  &--visible {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
  }
}
