.dropdown {
  display: flex;
  padding: 0 12px;
  height: $height-header;

  button {
    border: none;
    background: none;
  }

  i {
    margin-left: 12px;
    cursor: default;
  }

  &__sub {
    display: none;
    position: absolute;
    width: 220px;
    top: $height-header - 2px;
    flex-direction: column;
    background-color: white;
    box-shadow: 5px 5px 10px 0px rgb(0 0 0 / 15%);

    li {
      font-size: $font-large;

      &:hover {
        background-color: $color-hover;
      }
      a {
        height: $height-header;
        display: flex;
        align-items: center;
        padding: 0 8px;
      }
    }
  }

  &:hover .dropdown__sub {
    display: block;
  }
  &:hover button > * {
    color: $color-main;
  }
  &:hover button {
    border-bottom: none;
  }

  &--user {
    margin: $margin-header;
    button {
      padding: 0 4px;

      display: flex;
      align-items: center;
    }
  }
}
