.header__logo {
  float: left;
  margin: 0 1rem;
  padding: 0.2rem;
}

img {
  width: 100%;
}
.user-nav__profile-list {
  display: flex;
  align-items: center;
  a {
    display: block;
    align-items: center;
    img {
      width: 35px;
      border: transparent solid 1px;
      border-radius: 2rem;
    }
  }
}
