.link {
  font-size: $font-large;

  &:hover {
    color: $color-main;
  }
  &--left-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    i {
      font-size: $font-xl;
      color: $color-component;
    }
  }
}
