//---COLORS---//
$color-main: #1b4ee4;
$color-main-white: #f7f7fa;
$color-hover: rgb(243, 243, 243);
$color-component: rgb(187, 187, 187);
$color-stats: #79d7bd;

//---DIMENSIONS---//
$height-header: 70px;
$margin-header: 0 12px;
//---FONTS-SIZE---//

$font-medium: 0.9rem;
$font-large: 1.2rem;
$font-xl: 1.5rem;

//---BORDERS---//

$border-main: darken($color-main-white, 5%);
