.header {
  width: 100%;
  background-color: white;
  border-bottom: $border-main 2px solid;
  margin-bottom: 20px;
  height: $height-header;

  &__container {
    display: flex;
    height: 100%;
    width: 95%;
    margin: auto;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
    margin: $margin-header;
  }

  &__left-nav {
    display: flex;
    align-items: center;
  }

  &__form {
    display: none;
    background-color: rgb(253, 212, 101);
    height: 100%;
  }

  &__right-nav {
    display: flex;
    align-items: center;
  }
}
