.header {
  width: 100%;
  background-color: white;
  border-bottom: $border-main 2px solid;
  margin-bottom: 2rem;
  height: $height-header;
  &__container {
    width: 90%;
    margin: auto;
    height: 100%;
  }

  &__logo {
    float: left;
    width: 6%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__left-nav {
    height: 100%;
    width: 45%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__form {
    display: none;
    background-color: rgb(253, 212, 101);
    height: 100%;
  }

  &__right-nav {
    height: 100%;
    width: 30%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: space-around;
    // width: 30%;
  }

  &__user {
    margin: -1rem;
  }
}
