.left-side {
  padding: 0 5%;
  .user-info {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    background-color: white;
    flex-direction: column;
    box-shadow: $shadow-main;

    &__heading {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: -50px;
    }

    &__social {
      display: flex;
      justify-content: space-evenly;
      padding: 16px 2px;
      border-bottom: 2px solid $color-main-white;
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        &:nth-child(2) {
          border-left: 2px solid$color-main-white;
          border-right: 2px solid$color-main-white;
          padding: 0 16px;
        }
        p {
        }
      }
    }

    &__last-trng {
      padding: 16px 20px;
      border-bottom: 2px solid $color-main-white;
      a {
        font-weight: 600;
      }
    }
  }
  .left-side__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    i {
      color: $color-component;
    }
    &:hover {
      color: $color-main;
    }
  }
}
.user-stats {
  &__slct-btns {
    display: flex;

    .btn {
      flex-grow: 1;
      font-size: 20px;
      height: 50px;
    }
    .btn:nth-child(2) {
      background: white;
    }
  }

  &__cards {
    background: white;
    box-shadow: $shadow-main;
    position: relative;

    .user-stats__set-goal {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 12px;
    }
  }
  &__sport-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px 0;
      width: 100%;
      border-bottom: 2px solid $color-component2;

      & > div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: row wrap;

        p {
          display: flex;
          align-items: center;
          justify-content: center;

          font-size: $font-medium;
          color: black;
          width: 50%;
        }
        :nth-child(3) {
          border-right: 2px solid $color-component2;
        }
      }
    }
  }
}
